{% extends "based/based_no_head.html" %}
{% block title %}{{_("找回密码")}}-{% endblock %}
{% block content %}
<div class="row osr-edit-page osr-login-page">
    <section class="osr-panel">
        <div v-cloak id="app">
            <p class="text-center">
                <img class="osr-logo" src="{{g.site_global.site_config.LOGO_IMG_URL}}" alt="Logo">
            </p>
            <div class="form-group">
              <input name="email" id="email" class="form-control osr-input input-lg" type="email" v-model="email"
                     placeholder="{{_('电子邮箱')}}"
                     data-bv-emailAddress="true" data-bv-emailAddress-message="{{_('邮箱地址不合法')}}"
                    data-bv-notempty-message="{{_('邮箱地址不能为空')}}" required
                     placeholder="{{_('电子邮箱')}}"  required/>
            </div>
            <div class="form-group">
              <input name="password" id="password" class="form-control osr-input input-lg" type="password" v-model="password"
                     minlength="8" placeholder="{{_('输入密码')}}"
                     data-bv-notempty-message="{{_('至少8个字符')}}"
                     data-bv-stringLength-message="{{_('至少8个字符')}}" required/>
            </div>
            <div class="form-group">
              <input name="password2" id="password2" class="form-control osr-input input-lg" type="password" v-model="password2"
                     placeholder="{{_('再次输入密码')}}"
                     data-bv-identical="true"
                     data-bv-notempty-message="{{_('至少8个字符')}}"
                     data-bv-identical-message="{{_('前后密码不一致')}}"
                     data-bv-identical-field="password" required/>
            </div>

            {% include 'module/_send_code.html' %}

            <div class="form-group">
                <button v-on:click="reset()" class="btn-block btn osr-btn btn-success osr-submit-btn btn-lg">
                    {{_('重设密码')}}
                </button>
            </div>

            <div class="form-group osr-color-success">
                <i class="fa fa-sign-in"></i>
                <a class="osr-color-success" href="/osr-admin/sign-in">{{_("回到登录")}}</a>
            </div>

            <div class="form-group">
                {% include 'module/_no_header_select_lan.html' %}
            </div>
        </div>
    </section>
</div>
<script src="/admin-pages/static/js/osr_page_js/recover_pw.js?v={{g.site_global.site_config.STATIC_FILE_VERSION}}">
</script>
{% endblock %}

