 <!--验证码区域-->
<div class="form-group">
    <label>{{_('验证码')}}</label>
    <input name="code" type="text" v-model="email_code" id="email_code" class="form-control osr-input input-lg osr-hollow-color"
           minlength="4" placeholder="{{_('邮箱验证码')}}"
           data-bv-notempty-message="{{_('验证码错误')}}"
           data-bv-stringLength-message="{{_('验证码错误')}}"required/>
</div>
<!--验证码区域-->

<!--发送验证码-->
<div id="send_code_div" class="form-group" hidden>
    <button id="send_code"  data-toggle="modal" data-target="#send_code_modal"  class="btn osr-btn btn-success btn-lg">
        {{_('发送验证码')}}
    </button>
</div>
<div id="send_code_2_div" class="form-group">
    <button id="send_code_2" v-on:click="send_code()"  class="btn osr-btn btn-success btn-lg">
        {{_('发送验证码')}}
    </button>
</div>
<!--模拟框-->
<div class="modal fade" id="send_code_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{_("发送验证码")}}</h4>
            </div>
            <div  v-if="img_code_url" class="modal-body text-center" >
                <div class="form-group">
                  <input name="code" type="text" v-model="img_code" class="text-center form-control osr-input"
                   placeholder="{{_('图片验证码')}}"
                   data-bv-notempty-message="{{_('验证码错误')}}" required/>
                </div>
                <div class="form-group">
                    <img :src="img_code_url" alt="Code Img">
                    <i v-on:click="get_imgcode()" class="fa fa-refresh"></i>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info osr-btn" type="button" data-dismiss="modal" aria-hidden="true"> {{_("关闭")}}</button>
                <button class="btn btn-success osr-btn" v-on:click="send_code()" type="button" aria-hidden="true"> {{_("发送验证码")}}</button>
            </div>
        </div>
    </div>
</div>
<!--模拟框-->
<!--发送验证码//-->

<script src="/theme/osr-theme-w/static/js/osr_page_js/module/_send_code.js?v={{g.site_global.site_config.STATIC_FILE_VERSION}}">
</script>