{% extends "osr-style/pages/based/based.html" %}
{% block title %}{{_("主页")}}-{% endblock %}
{% block content %}
<data id="user_id"  content="{{data.id}}"></data>
<div id="app" class="row osr-page" v-cloak>
    <section class="osr-panel">
        <div class="col-sm-9">
            {% include 'osr-style/pages/user/_user_info.html' %}
            <p>
                <strong class="osr-color-success">
                    <i class="fa fa-bar-chart-o"></i> {[posts.data_total]}{{_("篇")}}
                </strong>
                <!--去到待处理页面的回收站-->
                <a id="pt" class="pull-right osr-color-success"    v-if="is_myself"
                    :href="'/user/post/pending?id='+user._id+'&state=recycle'" >
                    {{_("待处理")}} <i class="fa fa-chevron-right"></i>
                </a>
            </p>

            <header class="panel-heading tab-bg-dark-navy-blue osr-panel-heading">
                <ul class="nav nav-tabs">
                    <li id="head_li_sort_t-desc">
                        <a data-toggle="tab" class="osr-pointer" v-on:click="get_posts('is_issued',1,'t-desc','')">
                            <i class="fa fa-file-text-o"></i> {{_("文章")}}
                        </a>
                    </li>
                    <li id="head_li_sort_hot">
                        <a data-toggle="tab" class="osr-pointer" v-on:click="get_posts('is_issued',1,'hot','')">
                            <i class="fa fa-thermometer-full"></i> {{_("热门")}}
                        </a>
                    </li>
                    <li id="head_li_status_draft" v-show="is_myself" >
                        <a data-toggle="tab" class="osr-pointer" v-on:click="get_posts('draft',1,'t-desc','')">
                            <i class="fa fa-save"></i> {{_("草稿")}}
                        </a>
                    </li>
                </ul>
            </header>
            {% include 'osr-style/pages/user/post/_user_posts.html' %}

        </div>
        {% include 'osr-style/pages/user/_self_introduction.html' %}
    </section>

</div>
{% include 'osr-style/pages/user/post/_script_js.html' %}
{% endblock %}