{% extends "osr-theme-w/pages/based/based.html" %}
{% block title %}{{_("主页")}}-{% endblock %}
{% block content %}
<data id="user_id"  content="{{data.id}}"></data>
<div id="app" class="row osr-page">
    <section class="osr-panel">
        <div class="col-sm-12">
            {% include 'osr-theme-w/pages/user/_user_info.html' %}
            <div>
                <strong class="osr-color-success">
                    <i class="fa fa-align-left"></i> {[posts.data_total]}{{_("篇")}}
                </strong>
                <a  id="pt" class="pull-right osr-color-success"   v-if="is_myself"  :href="'/user?id='+user._id">
                    <i class="fa fa-chevron-left"></i> {{_("回到主页")}}
                </a>
            </div>

            <header class="panel-heading tab-bg-dark-navy-blue osr-panel-heading">
                <ul class="nav nav-tabs">
                    <li id="head_li_status_recycle">
                        <a data-toggle="tab"  class="osr-pointer" v-on:click="switch_state('recycle','t-desc')">
                            <i class="fa fa-recycle"></i> {{_("回收站")}}
                        </a>
                    </li>
                    <li id="head_li_status_not_audit">
                        <a data-toggle="tab"  class="osr-pointer" v-on:click="switch_state('not_audit','t-desc')">
                            <i class="fa fa-hourglass-start "></i> {{_("待审核")}}
                        </a>
                    </li>
                    <li id="head_li_status_unqualified">
                        <a data-toggle="tab" class="osr-pointer" v-on:click="switch_state('unqualified','t-desc')">
                            <i class="fa fa-frown-o"></i> {{_("违规内容")}}
                        </a>
                    </li>
                </ul>
            </header>
            {% include 'osr-theme-w/pages/user/post/_user_posts.html' %}
        </div>
    </section>

</div>
{% include 'osr-theme-w/pages/user/post/_pending_script_js.html' %}
{% endblock %}