{% extends "based/based.html" %}
{% block title %}{{_("用户管理")}}-{% endblock %}
{% block content %}
<data id="state" content="{{data.state}}"></data>
<data id="page" content="{{data.page}}"></data>
<data id="keyword" content="{{data.keyword}}"></data>
<div v-cloak id="app">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <header class="panel-heading">
                     <i class="fa fa-users"></i>
                    <strong>
                         {{_("用户")}}(<span class="osr-color-success">{{_("结果")}}{[users.data_total]}</span>)
                    </strong>
                </header>
                <div class="panel-body table-responsive">
                    <div class="box-tools form-inline">
                        <div class="input-group pull-left">
                            <select id="status" name="status"  class="form-control osr-form-control input-sm m-b-10" @change="get_users($event.target.value,1,'')">
                                <option  v-for="sta,k in status_list" v-if="sta==status" selected = "selected" :value ="sta">{[k]}</option>
                                <option v-for="sta,k in status_list" v-if="sta!=status" :value ="sta">{[k]}</option>
                            </select>
                        </div>
                        &nbsp;&nbsp;
                        <div class="input-group btn-group btn-group-sm">
                                <a v-bind:href="'/osr-admin/user/add-user?fs='+status+'&fp='+page"  class="btn osr-btn btn-success">
                                    <span class="fa fa-plus"></span> {{_("添加用户")}}
                                </a>
                        </div>

                        <div class="input-group pull-right">
                            <input type="text" v-on:keypress="get_users(status, 1, keyword)" v-model="keyword" class="form-control osr-input input-sm" style="width: 150px;" placeholder="{{_('搜索')}}">
                            <div class="btn-group">
                                <button v-on:click="get_users(status, 1, keyword)" class="btn btn-sm btn-default osr-btn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                              <th>
                                <div class="checkbox checkbox-danger">
                                  <input id="check_all" v-on:click="osr_check_all(users.datas, checkAll, set)" type="checkbox"
                                        v-model="checkAll" unchecked>
                                  <label for="check_all"></label>
                                </div>
                              </th>
                              <th >{{_("头像")}}</th>
                              <th >{{_("昵称")}}</th>
                              <th >{{_("性别")}}</th>
                              <th>{{_("域")}}</th>
                              <th >{{_("邮箱")}}</th>
                              <th >{{_("手机号")}}</th>
                              <th >{{_("激活")}}</th>
                              <th >{{_("角色")}}</th>
                              <th >{{_("其他")}}</th>
                              <th>{{_("操作")}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user,index in users.datas">
                              <td width="50px">
                                  <div class="checkbox checkbox-danger">
                                       <input :id="user._id" type="checkbox"  v-bind:value="user._id" unchecked>
                                       <label :for="user._id"></label>
                                  </div>

                              </td>
                                <td>
                                   <img class="osr-img-circle-b" :src="user.avatar_url.url" width="35px" height="35px" alt="{{_('头像')}}">
                                </td>
                              <td>
                                   <a :href="'/osr-admin/own/user?id='+user._id" target="_blank">
                                  {[user.username]}
                                   </a>
                                </td>
                              <td>
                                  <span v-if="user.gender==='m'">{{_("男")}}</span>
                                  <span v-else-if="user.gender==='f'">{{_("女")}}</span>
                                  <span v-else>{{_("保密")}}</span>
                              </td>
                              <td v-if="user.custom_domain===-1">
                                  <span class="fa fa-close" style="color:#dd514c;"></span>
                              </td>
                              <td v-else>{[user.custom_domain]}</td>
                              <td v-if="user.email"> {[user.email]}</td>
                              <td v-else>{{_("无")}}</td>
                              <td v-if="user.mphone_num && user.mphone_num.length>7">
                                  {[user.mphone_num.slice(0,3)]}****{[user.mphone_num.slice(-4)]}
                              </td>
                              <td v-else>{{_("无")}}</td>
                              <td v-if="user.active">
                                  <span class="fa fa-check" style="color:#5eb95e;"></span>
                              </td>
                              <td v-else>
                                  <span class="fa fa-close" style="color:#dd514c;"></span>
                              </td>

                              <td>{[user.role_name]}</td>
                              <td >
                                  <a class="osr-pointer" v-on:click="put_user_view(index)" data-toggle="modal" data-target="#user-info">
                                      {{_("更多")}}...
                                  </a>
                              </td>
                                <td>
                                  <div class="btn-group btn-group-sm">
                                        <a v-bind:href="'/osr-admin/user/edit-user?id='+user._id+'&fs='+status+'&fp='+page"  class="btn osr-btn btn-info">
                                            <span class="fa fa-pencil-square-o"></span> {{_("编辑")}}
                                        </a>
                                  </div>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

            <div class="btn-group btn-group-sm">
                <button v-on:click="activation_user(1)" v-if="status == 'inactive'" type="button" class="btn osr-btn btn-success">
                    <span class="fa fa-toggle-on"></span> {{_("激活")}}
                </button>
                <button v-on:click="warning_modal({msg:'{{_('确定冻结?')}}'}, 'activation_user', 0)" v-else type="button" class="btn osr-btn btn-info">
                    <span class="fa fa-toggle-off"></span> {{_("冻结")}}
                </button>
                <button  v-on:click="warning_modal(null, 'delete_user', 0)" v-if="status !== 'cancelled'" type="button" class="btn osr-btn btn-danger">
                    <span  class="fa fa-trash-o"></span> {{_("移除")}}
                </button>

                <button v-on:click="restore_user()" v-if="status === 'cancelled'" type="button" class="btn osr-btn btn-primary">
                    <span class="fa fa-mail-reply"></span> {{_("恢复")}}
                </button>
                <button v-on:click="warning_modal(null, 'delete_user', 1)" v-if="status === 'cancelled'" type="button" class="btn osr-btn btn-danger">
                    <span  class="fa fa-trash-o"></span> {{_("永久删除")}}
                </button>
            </div>

            <!-- 页面导航-->
            <div class="text-center hidden-md-down">
                <ul class="pagination">
                    <li v-if="pages.last < pages.current_page && pages.last>0">
                        <a v-on:click="get_users(status, pages.last, keyword)">«</a>
                    </li>
                    <li v-else class="disabled">
                        <a>«</a>
                    </li>

                    <li v-for="page in pages.last_show" >
                        <a v-if="page!='...'" v-on:click="get_users(status, page, keyword)">{[page]}</a>
                        <a v-else href="#">...</a>
                    </li>

                    <li class="active">
                        <a v-on:click="get_users(status, pages.current_page, keyword)">{[pages.current_page]}</a>
                    </li>

                   <li v-for="page in pages.next_show" >
                        <a v-if="page!='...'" v-on:click="get_users(status, page, keyword)" >{[page]}</a>
                        <a v-else href="#">...</a>
                   </li>

                   <li v-if="pages.next > pages.current_page && pages.next<=pages.page_total">
                        <a v-on:click="get_users(status, pages.next, keyword)">»</a>
                    </li>
                    <li v-else class="disabled">
                        <a>»</a>
                    </li>
                </ul>
           </div>
            <!-- //页面导航-->
            <!-- m页面导航-->
            <ul class="pager visible-xs visible-sm">
                <li v-if="pages.last < pages.current_page && pages.last>0" class="previous">
                    <a v-on:click="get_users(status, pages.last, keyword)" class="osr-pointer">
                        {{_("上一页")}}
                    </a>
                </li>
                <li v-if="pages.next > pages.current_page  && pages.next<=pages.page_total" class="next">
                    <a v-on:click="get_users(status, pages.next, keyword)" class="osr-pointer">{{_("下一页")}}</a>
                </li>
            </ul>
            <!-- //m页面导航-->
        </div>
    </div>

    <!--信息模态-用户信息日志-->
    <div v-if="user_view" class="modal fade" id="user-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">{{_("更多信息")}}: {[user_view.username]}</h4>
                </div>
                <div class="modal-body">
                    <header class="panel-heading tab-bg-dark-navy-blue osr-panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="osr-pointer" data-toggle="tab" data-target="#info">{{_("用户信息")}}</a>
                            </li>
                            <li class="">
                                <a class="osr-pointer" data-toggle="tab" data-target="#login-log">{{_("登录日志")}}</a>
                            </li>
                            <li class="">
                                <a class="osr-pointer" data-toggle="tab" data-target="#op-log">{{_("操作日志")}}</a>
                            </li>
                            <li class="">
                                <a class="osr-pointer" data-toggle="tab" data-target="#inform">{{_("被举报")}}</a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="info" class="tab-pane active">

                                <span>
                                    {{_("ID")}}:&nbsp;{[user_view._id]}
                                </span>
                                <br>
                                <span>
                                    {{_("注册时间")}}: &nbsp;{[user_view.create_at | formatDate]}
                                </span>
                                <br>
                                <span>
                                    {{_("编辑器")}}:&nbsp;{[user_view.editor]}
                                </span>
                                <br>
                                <span>
                                    {{_("出生日期")}}: &nbsp;{[user_view.birthday]}
                                </span>
                                <br>
                                <span>
                                    {{_("常居地址")}}: &nbsp;{[user_view.address]}
                                </span>
                                <br>
                                <span>
                                    {{_("个人简介")}}:<br>
                                    <div class="osr-text">{[user_view.introduction]}</div>
                                </span>

                            </div>
                            <div id="login-log" class="tab-pane">
                                 <table class="table table-hover">
                                <thead>
                                    <tr>
                                      <th>{{_("时间")}}</th>
                                      <th>{{_("IP")}}</th>
                                       <th>{{_("客户端")}}</th>
                                         <th>{{_("地理位置")}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="log in user_view.user_login_log.login_info">
                                      <td>
                                          {[log.time | formatDate]}
                                      </td>
                                        <td>
                                          {[log.ip]}
                                       </td>
                                        <td>
                                         {[log.client]}
                                       </td>
                                        <td>
                                            <span v-for="(v, k) in log.geo">
                                                <span class="osr-color-secondary">{[k]}:</span> {[v.name]}<br>
                                            </span>

                                       </td>
                                    </tr>
                                </tbody>
                              </table>

                            </div>
                            <div id="op-log" class="tab-pane">
                               <table class="table table-hover">
                                <thead>
                                    <tr>
                                      <th>{{_("时间")}}</th>
                                      <th>{{_("类型")}}</th>
                                       <th>{{_("状态")}}</th>
                                         <th>{{_("提示")}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="op_log in user_view.user_op_log.logs">
                                      <td>
                                          {[op_log.time | formatDate]}
                                      </td>
                                        <td>
                                          {[op_log.op_type]}
                                       </td>
                                        <td>
                                         {[op_log.status]}
                                       </td>
                                        <td>
                                            {[op_log.info]}

                                       </td>
                                    </tr>
                                </tbody>
                              </table>

                            </div>
                             <div id="inform" class="tab-pane">
                                 <div v-if="user_view.inform">
                                     <strong>{{_("举报总数")}}: </strong>&nbsp;{[user_view.inform.total]}<br>
                                     <strong>{{_("最后举报")}}: </strong>&nbsp;{[user_view.inform.update_time | formatDate]}<br>
                                     <table class="table table-hover">
                                        <thead>
                                            <tr>
                                              <th>{{_("类型")}}</th>
                                               <th>{{_("数量")}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr  v-if="k!='total' && k!='update_time'" v-for="(v,k) in user_view.inform">
                                              <td>
                                                 {[k]}
                                              </td>
                                                <td>
                                                  {[v.cnt]
                                               </td>
                                            </tr>
                                        </tbody>
                                      </table>
                                </div>

                             </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="button" data-dismiss="modal" aria-hidden="true"> {{_("关闭")}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //详细信息模态-->
</div>

<script src="/admin-pages/static/js/osr_page_js/user/index.js?v={{g.site_global.site_config.STATIC_FILE_VERSION}}">
</script>{% endblock %}


