    <!-- 头部logo: header.less -->
 <header id="top" class="header navbar-static-top">
    <!-- 头部 Navbar: header.less -->
     <!--移动端-->
     <nav class="navbar navbar-fixed-top visible-xs" role="navigation">
     {% include 'osr-style/pages/based/_mb_header_bar.html' %}
     </nav>
     <!--PC端-->
    <nav class="navbar  hidden-xs osr-navbar" role="navigation">
        <div class="osr-navbar-son">
        {% include 'osr-style/pages/based/_header_bar_menu_left.html' %}
        {% include 'osr-style/pages/based/_header_bar_menu_user.html' %}
        </div>
    </nav>
</header>