/** header **/
.osr-m-header {
    padding-right: 16px !important;
    padding-left: 16px !important;
    background: linear-gradient(to right, #3399ff, #00c0ef);
    height: 56px;

}
.osr-m-header .menu-btn{
    font-size: 25px;
    top: 15px;
    position: relative;
    color:#ffffff;
}

.osr-m-header .menu-avatar{
    top: 7px;
    position: relative;
}

.osr-m-header .menu-login-text{
    top: 19px;
    position: relative;
}

.osr-m-header .menu-avatar>img{
    height: 40px;
    width: 40px;
}

.osr-m-logo{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#ffffff;
    font-size:20px;
}

.osr-m-logo>img{
    min-height: 30px;
    max-height: 40px;
}


/** end header **/