
    <label>{{_("作者简介")}}</label>
    <hr>
    <div>
        <a class="avatar" :href="'/user?id='+user._id">
            <img width="35px" height="35px" class="osr-img-circle-b" v-bind:src="user.avatar_url.url" alt="{{_('头像')}}">
            &nbsp;
            <span class="text-success">{[user.username]}</span>
        </a>
    </div>
    <br>
    <div v-if="user.homepage" class="osr-color-secondary">
        <i class="fa fa-home"></i>&nbsp;<a :href="user.homepage" target="_blank">{[user.homepage]}</a>
    </div>
    <div v-if="user.introduction" class="osr-text">
        {[user.introduction]}
    </div>

    <!--文集导航-->
    <div id="post-category" class="nav  text-center" style="color:#ffffff;">
        <a  id="cidnull"  v-on:click="switch_category(0)" class="btn osr-btn btn-m" style="background-color:#74e6b2;color:#ffffff">
            <span style="color:#ffffff">
              {{_("全部文章")}}
            </span>
        </a>
        <a id="ciddefault"  v-on:click="switch_category({'_id':'default', 'name':''})"
           class="btn osr-btn btn-m"  :style="'background-color:'+colors[1]">
            <span style="color:#ffffff">
              {{_("默认文集")}}
            </span>
        </a>

        <a :id="'cid'+category._id" v-for="(category,index) in post_categorys" v-on:click="switch_category(category)"
           class="btn osr-btn btn-m"  :style="'background-color:'+colors[index+2]">
            <span style="color:#ffffff">
              {[category.name]}
            </span>
        </a>
    </div>


